# Hopsworks Feature Store Configuration
HOPSWORKS_API_KEY=your_api_key_here
HOPSWORKS_PROJECT_NAME=karachi_aqi1
HOPSWORKS_HOST=eu-west.cloud.hopsworks.ai

# OpenWeatherMap API Key (Needed for air pollution and historical data)
OPENWEATHER_API_KEY=your_openweather_api_key_here

# AQICN API Token
AQICN_TOKEN=your_aqicn_token_here

# City Configuration
CITY=karachi
LATITUDE=24.8607
LONGITUDE=67.0011

# MLflow / DagsHub
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=