# Data fetching and manipulation
pandas
numpy
requests
python-dotenv
openmeteo-requests
pyarrow

# Machine Learning & Serialization
scikit-learn
xgboost
joblib

# Model Monitoring & Registry
mlflow==2.9.2
dagshub

# Explainability & Dashboard
shap
streamlit
plotly
matplotlib
seaborn

# API & Web Server
fastapi
uvicorn

# Testing & Utilities
pytest
schedule

# Fix protobuf compatibility for Streamlit Cloud
protobuf==3.20.3
